@import "../scss/responsive";

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  //padding-top: 45px;
  //margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
  text-align: left;
  padding-top: 44px;

  &:before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    background: #3a3a3a;
    color: #c2c3c4;
    width: 100%;
    font-size: 34px;
    line-height: 26px;
    text-indent: 6px;
    text-align: left;
    height: 34px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: #ff6b81;
  }

  @include respond-below(sm) {
    width: 100%;
  }
}
