@mixin pop-custom-theme {
  .ngxp__container {
    background: white;
    color: #642f45;
    border: 0;
    max-width: 250px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
    z-index: 999;
    font-family: 'Roboto', sans-serif;

    > .ngxp__arrow {
      background: #FFF;
    }
  }
}
