$pop-colors: (
        background: #2f263c,
        violet: #362c4f,
        primary: #c83b50,
        primary-light: #ff6b81,
        accent: #f4e0f1,
        text: #d2cbe4
);

$pop-angular-logo-size: 40px;
