<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * POPPER DEMO! :) * * * * * * * * * * * -->
<!-- * * * * * * * * * cloned from popper.js.org * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="content" role="main">

    <div class="pop-demo">
        <article pop-click>
            <div class="pop-popcorn-wrap">
                <popper-content #popperClickContent>
                    <p class="pop-text-bold">POPCORN<br />CONDIMENTS<br />& PRICE</p>
                    <ul>
                        <li>BUTTER: $1.99</li>
                        <li>SALT: $0.99</li>
                        <li>CARAMEL: $0.49</li>
                    </ul>
                </popper-content>
                <img alt="Popcorn box"
                     src="assets/images/popcorn-box.svg"
                     [popper]="popperClickContent"
                     popperTrigger="hover"
                     [popperModifiers]="dontFlipModifier"
                     class="pop-popcorn-box">
            </div>
            <div>
                <h3 class="pop-title-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M6.13 1L6 16a2 2 0 0 0 2 2h15"></path>
                        <path d="M1 6.13L16 6a2 2 0 0 1 2 2v15"></path>
                    </svg>
                    Open on click
                </h3>
                <p><strong>Click the popcorn</strong>  to show condiments!.</p>
                <p><strong>Click the popcorn</strong> again to hide condiments.</p>
<!--                <pre><code pop-trigger-click-code></code></pre>-->
            </div>
        </article>
    </div>

</div>
<footer>
    <p>Created with ♥ by <a class="pop-link-yellow" href="https://tonysamperi.github.io"
                                                     target="_blank">Tony
        Samperi</a>
    </p>
    <p>© 2021 MIT License</p>
</footer>
